<html>

<head>
    <title>PALETTE U</title>
    <link rel="icon" href="assets/images/logo-transparent.png">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- <script src="js/script.js"></script> -->
</head>

<body>
    <div class="main-body">
    <div class="form-container">
        <%- include('components/header.ejs') %>
                <h1>LOGIN</h1>
                <a href="/signup">/SIGNUP</a>
                <form method="POST" action="/login" class="login-form">
                    <div class="login-input-container">
                        <div class="login-input-item">
                            <small>USERNAME</small>
                            <input type="text" name="username" placeholder="carollyuuu">
                        </div>
                        <div class="login-input-item">
                            <small>PASSWORD</small>
                            <input type="password" name="password" placeholder="********">
                        </div>
                    </div>
                    <button type="submit" name="submitbutton" value="login" class="submit-btn">
                        <img src="assets/icons/continue.svg" alt="continue" class="continue">
                    </button>
                </form>
            </div>

            <div class="image-section">
                <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
                <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
                <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
                <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
                <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
                <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
                <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
                <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
                <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
                <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
                <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
                <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
                <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
                <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
                <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
                <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
                <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
                <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
                <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
                <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
                <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
                <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
                <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
                <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
                <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
                <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
                <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
                <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
                <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
                <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
            </div>
    </div>
</body>

</html>