<html>

<head>
    <title>PALETTE U</title>
    <link rel="icon" href="assets/images/logo-transparent.png">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/script.js"></script>
</head>

<body>
    <div class="main-body">
        <div class="form-container">
            <%- include('components/header-login.ejs') %>
                <a href="/login">/LOGIN</a>
                <h1>SIGNUP</h1>
                <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
                    <p class="error-message"><%= errorMessage %></p>
                <% } %>
                <form method="POST" action="/signup" enctype="multipart/form-data" class="login-form">
                    <div class="login-input-container">
                        <div class="login-input-item">
                            <small>NAME</small>
                            <input type="text" name="fullname" placeholder="Carol" class="login-full-name">
                        </div>
                        <div class="login-input-item">
                            <small>USERNAME</small>
                            <input type="text" name="username" placeholder="CarollYuuu" class="login-username">
                        </div>
                        <div class="login-input-item">
                            <small>PASSWORD</small>
                            <input type="password" name="password" placeholder="********" class="login-password">
                        </div>
                        <div class="login-input-item">
                            <small>CONFIRM PASSWORD</small>
                            <input type="password" name="confirmPassword" placeholder="********"
                                class="login-confirm-password">
                        </div>
                    </div>
                    <button type="submit" name="submitbutton" value="signup" class="submit-btn">
                        <img src="assets/icons/continue.svg" alt="continue" class="continue">
                    </button>
                </form>
        </div>
        <div class="image-section">
            <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
            <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
            <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
            <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
            <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
            <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
            <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
            <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
            <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
            <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
            <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
            <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
            <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
            <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
            <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
            <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
            <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
            <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
            <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
            <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
            <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
            <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
            <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
            <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
            <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
            <img src="assets/images/emotion/shape/red.svg" alt="red" class="login-image">
            <img src="assets/images/emotion/shape/yellow.svg" alt="yellow" class="login-image">
            <img src="assets/images/emotion/shape/green.svg" alt="green" class="login-image">
            <img src="assets/images/emotion/shape/blue.svg" alt="blue" class="login-image">
            <img src="assets/images/emotion/shape/purple.svg" alt="purple" class="login-image">
        </div>
    </div>
</body>

</html>