/* @import 'styles.css'; */

p {
    color: var(--color-black);
    letter-spacing: 4px;
}

section {
    margin-top: 160px;
}


.memo-display {
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin: auto;  */
}

.all-memo-container {
    column-count: 3;
    column-gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    /* gap: 20px; */
}

@media (max-width: 1024px) {
    .all-memo-container {
        column-count: 2;
    }
}

/* .memo-link {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
} */

.memo-link:hover {
    transform: translateY(-2px);
}

@media (max-width: 1024px) {
    .all-memo-container {
        column-count: 2;
    }
}
